// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-tomorrow.css'
// Check out "bower_components/prism/themes/" for available themes

#profile-pic
	background-image: url('/images/vend-profile-pic.jpg')
	background-size: cover
	border-radius: 40px
	width: 80px
	height: 80px

#vend-logo
	background-image: url('/images/vend-cut-out-white-medium.png')
	background-size: cover
	width: 71px
	height: 40px

.vend
	&, & .bespoke-slide
		background-color: #009d12

	&,
	& h3
		color: #fff
		text-shadow: #404040 -1px 1px

	a
		color: #fff
